{% extends 'shop/base.html' %}

{% block content %}
<div class="container">
    {% if user.is_authenticated %}
        <p>Bienvenido, {{ user.username }}!</p>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Cerrar sesión</button>
        </form>
    {% else %}
        <h2>Iniciar Sesión</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">Nombre de usuario:</label>
                <input type="text" name="username" id="id_username" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="id_password">Contraseña:</label>
                <input type="password" name="password" id="id_password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        </form>
        <p>¿No tienes una cuenta? <a href="{% url 'registro' %}">Regístrate aquí</a></p>
    {% endif %}
</div>
{% endblock %}
