<!-- templates/shop/registro.html -->
{% extends 'shop/base.html' %}

{% block title %}Registro{% endblock %}

{% block content %}
<div class="container">
    <h2>Registro</h2>
    <form method="post">
        {% csrf_token %}
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
</div>
{% endblock %}
