<!-- templates/shop/base.html -->
{% extends 'shop/base.html' %}

{% block title %}Inicio - Tienda de indumentaria{% endblock %}

{% block content %}
<h1>Bienvenido a nuestra tienda</h1>
<p>Explora nuestra colección de indumentaria.</p>
<h2>Catálogo de Remeras</h2>
<div class= "card-container">
    {% for remera in remeras %}
    <div class="card">
        <div class="card-image">
            {% if remera.imagen %}
                <img src = "{{remera.imagen.url}}" alt = "{{remera.nombre}}" >
                {% else %}
                No image
                {% endif %}
        </div> 
        <div class="card-content"> 
            <h2>{{ remera.nombre }}</h2>
            <p>{{ remera.descripcion }}</p>
            <p><strong>Precio:</strong> ${{ remera.precio }}</p>
            <p><strong>Marca:</strong> {{ remera.marca }}</p>
            <p><strong>Talle:</strong> {{ remera.get_talle_display }}</p>
            <p><strong>Color:</strong> {{ remera.color }}</p>
            <p><strong>Lisa:</strong> {{ remera.lisa|yesno:"Sí,No" }}</p>
            <p><strong>Género:</strong> {{ remera.get_genero_display }}</p>
        </div>
    </div>       
        {% endfor %}
</div>       
{% endblock %}
