<!-- templates/my-app/base.html -->
{% extends 'my-app/base.html' %}

{% block title %}Inicio - Shop{% endblock %}

{% block content %}
<h1>Bienvenido a nuestra tienda</h1>
<p>Explora nuestra colección de indumentaria.</p>

<h2>Catálogo de Remeras</h2>
<table>

    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Marca</th>
            <th>Talle</th>
            <th>Color</th>
            <th>Lisa</th>
            <th>Género</th>
        </tr>
    </thead>
    <tbody>
        {% for remera in remeras %}
        <tr>
            <td><img src = "{{remera.imagen.url}}" alt = "{{remera.nombre}}" style="max-width: 100px"></td>
            <td>{{ remera.nombre }}</td>
            <td>{{ remera.descripcion }}</td>
            <td>${{ remera.precio }}</td>
            <td>{{ remera.marca }}</td>
            <td>{{ remera.get_talle_display }}</td>
            <td>{{ remera.color }}</td>
            <td>{% if remera.lisa %}Si{% else %} No{% endif %}</td>
            <td>{{ remera.get_genero_display }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}    
